<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wenshu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/> 
    {% block style %}{% endblock %}
</head>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const { createApp, ref, onMounted, computed } = Vue;
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<body>
    <div id="app" class="main">
        {% block content %}{% endblock %}
    </div>
</body>

{% block script %}{% endblock %}
<script>
    // to activate Vue, define an object named createAppProps or else a function named app_setup() in the above script block:
    let app;
    if (typeof createAppProps !== 'undefined') {
        app = createApp({
            ...createAppProps,
            delimiters: ['${', '}'],
        });
    } else if (typeof app_setup !== 'undefined') {
        app = createApp({
            delimiters: ['${', '}'],
            setup: app_setup,
        });
    }
    app.mount('#app');
</script>

</html>
